<form
  class="py-5 bg-slate-950 min-h-screen text-slate-300 flex flex-col items-center justify-center"
>
  <h1 class="text-3xl text-center mb-6 font-bold">Password Generator</h1>
  <div
    class="w-3/12 border-2 border-slate-400 mx-auto flex flex-col gap-y-6 p-6 rounded-md shadow-md shadow-slate-500"
  >
    <div>
      <label for="length" class="mb-3">Length:</label>
      <input
        type="number"
        name="length"
        id="length"
        (input)="getIength($event)"
        class="ml-6 border-2 border-gray-400 px-4 focus:outline-none text-sm rounded-md w-20 bg-slate-200 text-gray-800 font-bold"
      />
    </div>
    <div class="space-y-2">
      <div class="flex items-center">
        <label for="letter" class="mr-4">Letter</label>
        <input
          type="checkbox"
          name="letter"
          id="letter"
          (change)="getPreference($event)"
          class="mt-[2px]"
        />
      </div>
      <div class="flex items-center">
        <label for="number" class="mr-4">Number</label>
        <input
          type="checkbox"
          name="number"
          id="number"
          (change)="getPreference($event)"
          class="mt-[2px]"
        />
      </div>
      <div class="flex items-center">
        <label for="character" class="mr-4">Special Character</label>
        <input
          type="checkbox"
          name="character"
          id="character"
          (change)="getPreference($event)"
          class="mt-[2px]"
        />
      </div>
    </div>
    <div class="mx-auto w-max">
      <button
        type="submit"
        [disabled]="!(length && (letter || number || character))"
        class="px-4 py-1 text-white rounded-xl border-gray-400 border-2 hover:bg-slate-200 hover:text-black font-semibold transition duration-200"
        (click)="submit($event)"
      >
        Click Me
      </button>
    </div>
  </div>
  <div class="mt-8" *ngIf="password">
    <p
      class="text-3xl text-yellow-300 border-2 border-dashed border-slate-400 px-4 py-2 rounded-md"
    >
      {{ password }}
    </p>
  </div>
</form>
